<div class="container mt-4">
<div class="col-md-12">
  <div class = 'row'>
    <div class="col-md-3">
        <div class="list-group sidebar-nav">
          <button type="button" class="list-group-item list-group-item-action mb-2">
            <i class="fa fa-home me-2"></i> Home
          </button>
          <button type="button" class="list-group-item list-group-item-action mb-2">
            <i class="fa fa-book me-2"></i> Content
          </button>
          <button type="button" class="list-group-item list-group-item-action mb-2">
            <i class="fa fa-tasks me-2"></i> Assignments
          </button>
          <button type="button" class="list-group-item list-group-item-action mb-2">
            <i class="fa fa-comments me-2"></i> Discussions
          </button>
          <button type="button" class="list-group-item list-group-item-action mb-2">
            <i class="fa fa-chart-bar me-2"></i> Grades
          </button>
        </div>
      </div>

    <div class="col-md-9">

      </div>
  </div>
  </div>
</div>
