<div class="container mt-4">
  <section class="mb-5">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Modules</h2>
        <br>

          <h5 class="mt-4">Your Modules</h5>
            <div class="table-responsive">
            <table class="table table-hover">
              <thead class="text-center">
              <tr >
                <th>Module Name</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let module of userModules" class="align-middle">
                <td class="py-3 text-center">{{module.title}}
                <td class="py-3 text-center">
                  <a [routerLink]="['/modules', module.id]" class="btn btn-primary btn-sm">View</a>
                </td>
                </tr>
              </tbody>
            </table>
            </div>
      </div>
    </div>
  </section>
</div>
