<div class="layout">
<aside class="sidebar">
  <h3>Inquiry Navigation</h3>
  <ul>
    <li routerLink="/enquiries-history" routerLinkActive="active">Inquiry History</li>
    <li routerLink="/enquiries-management" routerLinkActive="active">Pending Inquiries</li>
  </ul>
</aside>
  <div class="main-content">
    <h1 class="page-title">Pending Inquiries</h1>

    <div class="pending-card">
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button class="resolve-btn">Resolve</button>
    </div>
<br>
    <div class="pending-card">
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button class="resolve-btn">Resolve</button>
    </div>
<br>
    <div class="pending-card">
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button class="resolve-btn">Resolve</button>
    </div>
  </div>
</div>
