<div class="login-container d-flex justify-content-center align-items-center">
  <div class="card login-card">
    <div class="card-body p-0">
      <div class="row g-0">
        <!-- Logo Section -->
        <div class="col-md-7 d-flex align-items-center justify-content-center p-4 bg-light">
          <img src="assets/login-art.png" alt="Campus Learn Logo" class="img-fluid" />
        </div>

        <!-- Form Section -->
        <div class="col-md-5 p-4">
          <h2 class="mb-4 text-center text-bold"><b>Campus Learn Portal</b></h2>
          <form (ngSubmit)="onSubmit()">

            <div class="form-group mb-3">
              <label class="form-label">Email</label>
              <div class="input-group">
                <input type="email" [(ngModel)]="email" name="email" required class="form-control" />
                <span class="input-group-text">
                  <i class="fa fa-solid fa-user" id="togglePassword" style="cursor: pointer"></i>
                </span>
              </div>
            </div>

            <div class="form-group mb-4">
              <label class="form-label">Password</label>
              <div class="input-group">
                <input type="password" [(ngModel)]="password" name="password" required class="form-control" />
                <span class="input-group-text">
                  <i class="fa fa-solid fa-lock" id="togglePassword" style="cursor: pointer"></i>
                </span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary w-100 text-white">Login</button>

            <div class="mt-2 text-center">
              <a routerLink="/forgot-password" class="btn btn-link">Forgot Password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>